/*Imported from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Niconne&display=swap');

/*Niconne: CSS class*/

/* .niconne-regular {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
} */

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: "Niconne", cursive;
}

/* header*/
header {
    background-color: lightcoral;
}

h1 {
    font-family: "Niconne", cursive
}

/* main content*/
main {
    background-color: lightblue;
    /*make main element take up any surplus space tp push footer*/
    flex: 1 0 auto;
}

/* footer*/
footer{
    background-color: orange;
}